# Variáveis de Ambiente e Segredos
.env
.env.server
k8s/secret.yaml

# Binários e Executáveis do Go
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
snooker-api
.gocache

# Arquivos de Cobertura de Testes
*.out
*.cover
coverage.html

# IDEs e Ferramentas Locais
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Pasta temporária do sistema
/tmp/
.tmp/

# Agentes e Ferramentas Locais
.agents/
skills-lock.json
coverage

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
*.tsbuildinfo
